a {
    text-decoration: none;
    color: #555;
    font-size: 200%;
}

.box {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.side {
    backface-visibility: hidden;
    background-color: #fefefa;
    border-radius: 10px;
    border: 5px solid #f16d7a;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    transition: all 1s;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.propic {
    background-color: #FFF;
    border-radius: 50%;
    border: 1px solid #ededed;
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 40%;
}

.text {
    font-family: Georgia, Palatino;
    text-align: center;
    color: #666;
    margin: 0px;
    margin-top: 10px;
}

.link-box {
    font-family: sans-serif;
    font-size: 14px;
    color: #555;
    vertical-align: baseline;

    text-align: center;
}

.links {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-bottom: 10px;
}

.bg-img {
    left: 0px;
    top: 0px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    z-index: -10;
    position: fixed;
    opacity: 0.85;
    width: 100%;
    height: 100%;
}

.bg-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(2px);
}

@media only screen and (min-width: 700px) {    
    .box {
        height: 80%;
        width: 402px;
    }
    
    .text {
        font-size: 20px;
    }

    #description {
        margin: auto;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 699px) {
    .box {
        height: 90%;
        width: 90%;
    }

    .text {
        font-size: 18px;
    }

    #description {
        margin-top: 10%;
        margin-left: 10px;
        margin-right: 10px;
    }
}